body,html{
  margin: 0;
  padding: 0;
}
.background{
height: 100vh;
background-image: url('./images/background.avif');
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}

.nav-header {
  background-color: #68829b;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.link{
  text-decoration: none;
  display: inline;
  padding: 20px;
  font-size: larger;
  cursor: pointer;
}
.anchor{
  display: block;
  position: relative;
  visibility: hidden;
  height: 54px;
  z-index: -1;
}

.home{
  height: 100vh;
}

.img-sqr{
  height: 200px;
  width: 200px;
  border: solid;
}

.about-me{
  height: 500px;
  background-color: #95b1ce;
}

.skills{
  background-color: #98aabd;
  height: 1000px;
}


