body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: yellow;
}


.background {
  height: 100vh;
  background-image: url('./images/background.avif');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: fill;

}

.nav-header {
  background-color: #68829b;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-weight: bolder;
  z-index: 1;
  border: solid;
}

.nav-header ul{
  border: solid red;
  height: 100%;
}

.nav-btn, .nav-close-btn{
  border: solid green;
  display: none;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px;
  font-size: larger;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link:hover {
  color: black;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  height: 49px;
  z-index: -1;
}

/* HomePage */
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.full-name {
  font-size: 60px;
  margin-bottom: 1px;
  margin-top: 0px;
}

.container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-cont {
  background: rgba(0, 0, 0, 0.2);
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  min-width: 600px;
}

.intro-cont p {
  width: 80%;
}

.first-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.second-intro {
  justify-content: center;
  display: flex;
  gap: 10%;
}


/* About me */

.about-me {
  background-color: #95b1ce;
  height: 80vh;
}

.about-me-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
}

.about-me-wrapper>h1 {
  font-size: xx-large;
}

.my-img {
  border-radius: 150px;
}

.bio {
  width: 80%;
  font-size: large;
}

.view-cv {
  padding: 20px;
  background-color: #68829b;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.3s ease;
}

.view-cv:hover {
  color: black;
  background-color: white;
}


/* skills */
.skills {
  background-color: white;
  height: 80vh;
  color: black;
}

.skills-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.skills-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  height: 100%;
}

.skills-wrapper>h1 {
  font-size: xx-large;
}

hr {
  width: 100%;
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
}

.first-skills-block {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.first-skills-block>img,
.second-skill-block>img {
  width: 8vw;
}

.second-skill-block {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


/* projects */

.projects {
  background-color: #405873;
  height: 100vh;
}

.projects-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: -1;
}

.project-heading {
  font-size: xx-large;
}

.projects-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  height: 100%;
  justify-content: center;
}



.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 5px black;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  width: 100%;
  background-color: #68829b;
}

.site-link {
  padding-left: 20px;
  transition: .2s;
}

.site-link:hover {
  transform: scale(1.05);
}

.carousel-img {
  width: 100%;
  border-radius: 20px;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
}


.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators>button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}


/* contact me */
.contact-me {
  background-color: black;
  color: white;
}

.contactMe-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.contactMe-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  height: 100%;
  gap: 20%;
}

.contactMe-wrapper>h1 {
  font-size: xx-large;
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  height: 50%;

}

.form-elms {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

.message-box {
  display: flex;
  flex-direction: column;
  width: 380px;
  align-items: center;
}

.message-box>textarea {
  margin: 10px;
  width: 100%;
  height: 170px;
}

.end-footer {
  background-color: #68829b;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-btn,.nav-close-btn {
  background: transparent;
  /* visibility: hidden; */

}

@media all and (max-width:700px) {
  * {
    box-sizing: border-box;
  }



 .nav-btn, .nav-close-btn{
  visibility: visible;
  opacity: 1;
 } 

 .nav-btn{
  border: none;
width: 10vw;
display: block;
 }
 .nav-close-btn{
  display: block;
  border: none;
  width: 5vw;
  background-color: white;
 }


 .nav-header ul{
position: fixed;
top: -102vh;
height: 100%;
background-color: red;
display: flex;
justify-content: space-between;
width: 100%;
transition: 1s;
 }

 .nav-cont{
  display: flex;
  flex-direction: column;
 }
  
 .responsive-nav{
  transform: translateY(100vh);
 }

 .nav-close-btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
 }




  .nav-header {
  height: 70px;
  display: flex;
  justify-content: end;

  }

  .container {
    width: 100%;
  }

  .intro-cont {
    min-width: 97%;
    height: 66vh;
  }

  .full-name {
    text-align: center;
  }





  .about-me{
    width: 100%;
    height: 100vh;
  }

  .about-me-cont{
    width: 100%;
  }

  .about-me-wrapper{
    min-width: 100%;
  }

  .my-img{
    width: 30vw;
  }

.skills{
  width: 100%;
  height: 100vh;
}

.skills-cont{
  width: 100%;
}

.skills-wrapper{
  min-width: 100%;
}

.first-skills-block>img,
.second-skill-block>img {
  width: 15vw;
}

.projects{
  width: 100%;
  height: 100vh;
}

.projects-cont{
  width: 100%;

}

.projects-wrapper{
  min-width: 100%;
  height: 70%;
}

.contact-me{
  width: 100%;
  height: 100vh;
}

.contactMe-cont{
  width: 100%;
}

.contactMe-wrapper{
  min-width: 100%;
}

.form-cont{
  min-width: 100%;
}

.end-footer{
  position: absolute;
}



  

}































/* @media all and (max-width:700px){
  body{
    width: 100%;
  }
.background{
  width: 100vw;
  border: solid red;
}


.nav-header{
  border: solid red;
  width: 100vw;
}

.intro-cont{
  border: solid red;
  min-width: 100vw;
}
.about-me-wrapper{
  min-width: 100vw;
}

.skills-wrapper{
  min-width: 100vw;
  border: solid;
}

.block-wrapper{
  width: 100vw;
  border: solid green;
}

.first-skills-block{
  display: flex;
  width: 100vw;
  border: solid;
}




.carousel{
  border: solid red;
  width: 100vw;
}


} */