body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


.background {
  height: 100vh;
  background-image: url('./images/background.avif');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: fill;
}

.nav-header {
  background-color: #68829b;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-weight: bolder;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px;
  font-size: larger;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link:hover {
  color: black;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  height: 49px;
  z-index: -1;
}

/* HomePage */
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.full-name {
  font-size: 60px;
  margin-bottom: 1px;
  margin-top: 0px;
}

.container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-cont {
  background: rgba(0, 0, 0, 0.2);
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  min-width: 600px;
}

.intro-cont p {
  width: 80%;
}

.first-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.second-intro {
  justify-content: center;
  display: flex;
  gap: 10%;
}

/* About me */

.about-me {
  background-color: #95b1ce;
  height: 700px;
}

.about-me-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
}

.my-img {
  border-radius: 150px;
}

.bio {
  width: 80%;
  font-size: large;
}

.view-cv {
  padding: 20px;
  background-color: #68829b;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.3s ease;
}

.view-cv:hover {
  color: black;
  background-color: white;
}

/* skills */
.skills {
  background-color: white;
  height: 400px;
  color: black;
}

.skills-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.skills-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  height: 100%;
}

hr {
  width: 100%;
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
}

.first-skills-block {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.second-skill-block {
  display: flex;
  width: 100%;
  justify-content: space-around;
}






























.projects {
  background-color: #405873;
  height: 100vh;
}

.projects-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
border: solid red;
height: 100%;
}

.projects-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  height: 100%;
  /* border: solid; */
  justify-content: center;
}



.carousel{
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
box-shadow: 1px 1px 5px black;
}

.inner{
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item{
display: inline-flex;
align-items: center;
justify-content: center;
height: 490px;
width: 100%;
background-color: #68829b;
}


.carousel-item-text{
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
}

.carousel-img{
width: 700px;
margin-left: 20px;
border-radius: 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}































.contact-me {
  background-color: black;
  color: white;
  height: 100vh;
}